In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from sklearn.preprocessing import StandardScaler

In [2]:
df_customers = pd.read_excel("/Users/giulianamiranda/Documents/Labs/lab-customer-analysis-round-2/files_for_lab/excel_files/marketing_customer_analysis.xlsx")


cols = []

for a in range(len(df_customers.columns)):
    cols.append(df_customers.columns[a].lower().replace(' ', '_'))
    
df_customers.columns = cols

df_customers

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
df_customers.isnull().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [4]:
# I removed the NaN and the 'vehicle_type' columns, since 50% of it was NaN values

df_customers.drop(['vehicle_type'], inplace=True, axis=1)

df_customers = df_customers.dropna()
df_customers.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [5]:
numerical = df_customers.select_dtypes(include=[np.number])
numerical

numerical

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
6,6,5035.035257,37405,63,8.0,99,3.0,4,287.556107
...,...,...,...,...,...,...,...,...,...
10903,10903,2771.663013,59855,74,30.0,82,4.0,1,355.200000
10904,10904,19228.463620,0,187,14.0,32,0.0,2,897.600000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849

In [6]:
# X-y split.

# Y = df_customers['total_claim_amount']
# X = df_customers.drop(['total_claim_amount'], axis=1)

In [7]:
# Normalize (numerical)

from sklearn.preprocessing import MinMaxScaler

num_data = numerical.drop(['total_claim_amount'], axis = 1)
scaler = MinMaxScaler() 
normalized_df = scaler.fit_transform(num_data) 
normalized_df = pd.DataFrame(normalized_df, columns = num_data.columns)
normalized_df

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.000000,0.035752,0.480381,0.000000,0.200000,0.525253,0.0,1.000
1,0.000092,0.004059,0.000000,0.012658,0.085714,0.262626,0.0,0.000
2,0.000183,0.160264,0.221432,0.164557,0.971429,0.313131,0.0,0.125
3,0.000275,0.250953,0.490873,0.151899,0.285714,0.030303,0.0,0.125
4,0.000550,0.038525,0.374121,0.008439,0.228571,1.000000,0.6,0.375
...,...,...,...,...,...,...,...,...
9129,0.999542,0.010729,0.598664,0.054852,0.857143,0.828283,0.8,0.000
9130,0.999633,0.212833,0.000000,0.531646,0.400000,0.323232,0.0,0.125
9131,0.999817,0.041281,0.611576,0.016878,0.200000,0.686869,0.0,0.625
9132,0.999908,0.270122,0.398446,0.590717,0.314286,0.636364,0.0,0.125
9133,1.000000,0.123717,0.642072,0.409283,0.000000,0.272727,0.8,0.625

Processing Data
(Further processing...)

X-y split. (done)
Normalize (numerical). (done)


One Hot/Label Encoding (categorical).
Concat DataFrames
Linear Regression
Train-test split.
Apply linear regression.
Model Validation
Description:
R2.
MSE.
RMSE.
MAE.

In [8]:
# Select categorical columns
categoricals = df_customers.select_dtypes(include=[object])
categoricals

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,DK49336,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize
1,KX64629,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize
2,LZ68649,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize
3,XL78013,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize
6,IW72280,California,No,Basic,Doctor,Employed,F,Urban,Married,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,No,Basic,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize
10904,QI63521,Nevada,No,Basic,High School or Below,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize
10906,KX53892,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize
10907,TL39050,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize
10908,WA60547,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize

In [9]:
# checking for NaN

categoricals.isnull().sum()

customer            0
state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy_type         0
policy              0
renew_offer_type    0
sales_channel       0
vehicle_class       0
vehicle_size        0
dtype: int64

In [10]:
categoricals.dtypes

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [11]:
categoricals.shape

(9134, 15)

In [12]:
numerical.shape

(9134, 9)

In [13]:
# One Hot/Label Encoding (categorical)

# I decided to drop the customers because it was't helping the model, since it added litteraly thousands of columns with not much valuable information 

hot_categoricals = pd.get_dummies(categoricals.drop(['customer'], axis = 1), drop_first = True)
hot_categoricals

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
3,0,0,1,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
6,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0
10904,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,1,0
10906,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
10907,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
10908,1,0,0,0,0,0,1,1,0,0,...,1,0,0,0,0,1,0,0,1,0

In [14]:
concat2 = pd.merge(numerical, hot_categoricals, left_index=True, right_index=True)
concat2

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state_California,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000,0,...,0,0,0,0,0,0,0,0,1,0
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331,1,...,0,1,0,0,0,0,0,0,1,0
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000,0,...,0,1,0,0,0,1,0,0,1,0
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411,0,...,1,0,0,0,0,0,0,0,1,0
6,6,5035.035257,37405,63,8.0,99,3.0,4,287.556107,1,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,10903,2771.663013,59855,74,30.0,82,4.0,1,355.200000,0,...,1,0,0,0,0,0,0,1,1,0
10904,10904,19228.463620,0,187,14.0,32,0.0,2,897.600000,0,...,1,0,0,0,1,0,0,0,1,0
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929,0,...,1,0,0,0,0,0,0,0,1,0
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996,0,...,0,0,1,0,1,0,0,0,1,0
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849,1,...,1,0,0,0,0,1,0,0,1,0

In [24]:
# Linear Regression 

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

Y = concat2['total_claim_amount']
X = concat2.drop(['total_claim_amount'], axis=1) 

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
model.score(X,Y)

0.7725832593344055

In [28]:
# Train-test split

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [33]:
# Apply linear regression

Y = Y_train
X = X_train

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
model.score(X,Y)

predictions = lm.predict(X_test) 
predictions


print("R2 value is = ", round(r2_score(Y_test, predictions), 2))
print("The intercept of the model is = ", lm.intercept_)
print("The coefficients of the models are: ", lm.coef_)

R2 value is =  0.78
The intercept of the model is =  -330.2569439740999
The coefficients of the models are:  [ 2.48501109e-04 -1.27027595e-04 -3.15715882e-04  4.83290477e+00
  3.30669150e-01  6.16193714e-03 -1.52868270e+00  3.76566386e-01
  4.80638602e+00  8.13482613e+00 -1.88585140e+00  3.68720405e+00
 -2.07305949e+01 -8.82618408e+00  7.32896031e+00 -7.36530574e+00
 -1.49071282e+01  1.28518044e+01 -8.02895762e+00 -2.86830755e+00
  1.80306694e+01 -3.64716358e+00  7.01494917e+01  1.57833520e+01
  3.79415766e+02  2.22790653e+02 -7.75444303e+00  6.37978644e+01
  2.36661370e+00  1.31620882e+01 -4.88530823e+00 -6.97225461e-01
  6.65623143e+00 -1.55966023e+00 -2.72995750e+00  3.94684234e+01
 -7.91143066e+00 -1.83949045e+01  1.60527772e+01  1.17044959e+01
  6.43883439e+00  6.14939946e+00  1.23435153e+00  1.18036535e+00
  7.97427267e+01  2.27004843e+01 -1.73014159e+00 -1.35480598e+01
 -6.97352694e-01 -8.21357968e+00  5.76629165e-01]

In [34]:
# Model Validation Description: R2. MSE. RMSE. MAE

mse = mean_squared_error(Y_test, predictions)
print("The Mean Squared error is: ", mse)
sqrt = np.sqrt(mse)
print("The root mse of the model is: ", sqrt)
mae = mean_absolute_error(Y_test, predictions)
print("The Mean absolute error is:", mae)

The Mean Squared error is:  19133.425392372337
The root mse of the model is:  138.3236255755767
The Mean absolute error is: 94.06021862631991