In [ ]:
'''
# Lab | Customer Analysis Round 6

For this lab, we still keep using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder.

### Get the data

We are using the `marketing_customer_analysis.csv` file.

### Dealing with the data

Already done in the round 2.

### Explore the data

Done in the round 3.

### Processing Data

(_Further processing..._)

- X-y split. (_done_)
- Normalize (numerical). (_done_)
- One Hot/Label Encoding (categorical).
- Concat DataFrames

### Linear Regression

- Train-test split.
- Apply linear regression.

### Model Validation

- Description:
  - R2.
  - MSE.
  - RMSE.
  - MAE.'''

In [197]:
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [198]:
df = pd.read_csv(r"C:\Users\filip\OneDrive\Desktop\IRONHACK\Labs\Week3\lab-customer-analysis-round-5\files_for_lab\csv_files\marketing_customer_analysis.csv", sep = ',')
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [199]:
cols = []

for i in range(len(df.columns)):
    cols.append(df.columns[i].lower().replace(' ','_'))
    
df.columns = cols
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [200]:
from sklearn.model_selection import train_test_split

In [217]:
df_train, df_test = train_test_split(df, test_size=0.2, random_state=11)

In [218]:
target = df_train[['total_claim_amount']]
target

      total_claim_amount
7999          460.800000
7936          200.177163
8678          413.238845
8943         1321.584957
1538          226.968400
...                  ...
1293          355.200000
4023          325.886070
7259          612.300581
5200          900.000000
3775          321.600000

[7307 rows x 1 columns]

In [219]:
target = target.reset_index(drop = True)
target

      total_claim_amount
0             460.800000
1             200.177163
2             413.238845
3            1321.584957
4             226.968400
...                  ...
7302          355.200000
7303          325.886070
7304          612.300581
7305          900.000000
7306          321.600000

[7307 rows x 1 columns]

In [204]:
num_data = df_train[['customer_lifetime_value', 'income','monthly_premium_auto','months_since_last_claim','months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies' ]]
num_data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
7999,2292.791874,0,64,18,30,0,1
7936,7824.492263,64543,65,1,84,0,2
8678,5219.754045,48203,66,20,47,0,6
8943,19337.901030,26488,247,21,39,0,7
1538,8834.322784,34133,111,0,72,0,7
...,...,...,...,...,...,...,...
1293,8717.049833,83846,74,22,94,3,2
4023,2230.755716,0,62,9,49,0,1
7259,13869.927050,28432,118,1,59,0,2
5200,8923.113112,0,125,22,80,0,9
3775,5318.896640,25134,67,3,0,0,6

In [205]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(num_data)
normalized_data = pd.DataFrame(normalized_data, columns = num_data.columns)
normalized_data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.004840,0.000000,0.012712,0.514286,0.303030,0.0,0.000
1,0.072775,0.645682,0.016949,0.028571,0.848485,0.0,0.125
2,0.040786,0.482218,0.021186,0.571429,0.474747,0.0,0.625
3,0.214171,0.264983,0.788136,0.600000,0.393939,0.0,0.750
4,0.085176,0.341463,0.211864,0.000000,0.727273,0.0,0.750
...,...,...,...,...,...,...,...
7302,0.083736,0.838787,0.055085,0.628571,0.949495,0.6,0.125
7303,0.004078,0.000000,0.004237,0.257143,0.494949,0.0,0.000
7304,0.147019,0.284431,0.241525,0.028571,0.595960,0.0,0.125
7305,0.086267,0.000000,0.271186,0.628571,0.808081,0.0,1.000
7306,0.042004,0.251438,0.025424,0.085714,0.000000,0.0,0.625

In [206]:
df.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [207]:
# One Hot/Label Encoding (categorical)

In [208]:
cat_data = df_train[['state', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'location_code', 'marital_status', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class', 'vehicle_size' ]]
cat_data

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
7999,California,No,Basic,Bachelor,2/6/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer1,Branch,Two-Door Car,Medsize
7936,Arizona,No,Basic,Bachelor,2/23/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Call Center,Four-Door Car,Medsize
8678,California,No,Basic,College,2/23/11,Employed,F,Suburban,Divorced,Personal Auto,Personal L2,Offer4,Call Center,Four-Door Car,Medsize
8943,California,No,Extended,College,2/8/11,Employed,M,Suburban,Divorced,Personal Auto,Personal L2,Offer1,Web,Luxury SUV,Medsize
1538,Arizona,No,Basic,Bachelor,2/2/11,Employed,F,Rural,Divorced,Personal Auto,Personal L1,Offer1,Call Center,SUV,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293,Arizona,Yes,Basic,College,2/14/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Agent,Four-Door Car,Large
4023,Arizona,No,Basic,College,1/20/11,Unemployed,M,Suburban,Married,Personal Auto,Personal L2,Offer1,Agent,Four-Door Car,Medsize
7259,California,Yes,Basic,College,1/21/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer2,Branch,SUV,Small
5200,California,No,Extended,High School or Below,1/14/11,Unemployed,M,Suburban,Married,Personal Auto,Personal L3,Offer4,Branch,SUV,Small
3775,California,Yes,Basic,Bachelor,1/12/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer2,Call Center,Four-Door Car,Small

In [209]:
cat_data = pd.get_dummies(cat_data, drop_first=True)
cat_data

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
7999,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
7936,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
8678,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
8943,1,0,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
1538,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4023,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
7259,1,0,0,0,1,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,1
5200,1,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,1,0,0,0,1
3775,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [210]:
# Concat DataFrames

In [216]:
final_data = pd.concat([cat_data,normalized_data], axis = 1).reset_index(drop = True)
final_data

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.375504,0.714769,0.173729,0.485714,0.070707,0.0,0.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.013478,0.000000,0.088983,0.257143,0.212121,0.0,0.000
8780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.079627,0.260081,0.042373,0.457143,0.383838,0.0,0.125
8781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.050091,0.253299,0.063559,0.285714,0.707071,0.2,0.875
8782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.043939,0.522384,0.029661,0.314286,0.858586,0.0,0.875
8783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.086267,0.000000,0.271186,0.628571,0.808081,0.0,1.000

In [212]:
final_data = final_data.reset_index(drop = True)
final_data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_California,state_Nevada,state_Oregon,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.004840,0.000000,0.012712,0.514286,0.303030,0.0,0.000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.072775,0.645682,0.016949,0.028571,0.848485,0.0,0.125,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.040786,0.482218,0.021186,0.571429,0.474747,0.0,0.625,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.214171,0.264983,0.788136,0.600000,0.393939,0.0,0.750,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.085176,0.341463,0.211864,0.000000,0.727273,0.0,0.750,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
8781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [213]:
target

      total_claim_amount
0             460.800000
1             200.177163
2             413.238845
3            1321.584957
4             226.968400
...                  ...
7302          355.200000
7303          325.886070
7304          612.300581
7305          900.000000
7306          321.600000

[7307 rows x 1 columns]

In [214]:
Y = target
X = final_data['income']

X = sm.add_constant(X)
model = sm.OLS(Y,X).fit()

model.summary()

MissingDataError: exog contains inf or nans

In [192]:
final_data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_Arizona,state_California,state_Nevada,...,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Large,vehicle_size_Medsize,vehicle_size_Small
0,2292.791874,0,64,18,30,0,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0
1,7824.492263,64543,65,1,84,0,2,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2,5219.754045,48203,66,20,47,0,6,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,19337.901030,26488,247,21,39,0,7,0,1,0,...,1,0,0,1,0,0,0,0,1,0
4,8834.322784,34133,111,0,72,0,7,1,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,8717.049833,83846,74,22,94,3,2,1,0,0,...,0,1,0,0,0,0,0,1,0,0
7303,2230.755716,0,62,9,49,0,1,1,0,0,...,0,1,0,0,0,0,0,0,1,0
7304,13869.927050,28432,118,1,59,0,2,0,1,0,...,0,0,0,0,1,0,0,0,0,1
7305,8923.113112,0,125,22,80,0,9,0,1,0,...,0,0,0,0,1,0,0,0,0,1
7306,5318.896640,25134,67,3,0,0,6,0,1,0,...,0,1,0,0,0,0,0,0,0,1